In [ ]:
# Here is the list of deliverables for the analysis of the school district: 

# A high-level snapshot of the district's key metrics, presented in a table format
# An overview of the key metrics for each school, presented in a table format
# Tables presenting each of the following metrics:
# Top 5 and bottom 5 performing schools, based on the overall passing rate
# The average math score received by students in each grade level at each school
# The average reading score received by students in each grade level at each school
# School performance based on the budget per student
# School performance based on the school size 
# School performance based on the type of school

import pandas as pd
import os

# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")
missing_grade_to_load = os.path.join("Resources", "missing_grades.csv")

# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)
missing_grade_df = pd.read_csv(missing_grade_to_load)
school_data_df
# student_data_df
# missing_grade_df

In [ ]:
student_data_df

In [ ]:
school_data_df.count()

In [ ]:
missing_grade_df

In [ ]:
student_data_df.count()

In [ ]:
student_data_df.isnull().sum()

In [ ]:
student_data_df.notnull().sum()

In [ ]:
missing_grade_df.count()

In [ ]:
missing_grade_df.isnull().sum()

In [ ]:
# Drop the NaNs.
missing_grade_df.dropna()

In [ ]:
# Fill in the empty rows with "85".
missing_grade_df.fillna(85)